<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro telefone</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/logo2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">

<body>
    <header>
        <img src="../static/logo2.png" alt="Logo">
    </header>
    <form action="/cadastrarnum" method="POST">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card card-custom text-center">
            <h5 class="mb-3">Informe o número do seu celular para continuar</h5>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <img src="../static/br-icon.png" width="20">  +55
                </span>
                 <input type="tel" id="telefone" name="numero" class="form-control" placeholder="(99) 99999-9999" oninput="mascaraTelefone(this)">
            </div>

            <p class="mb-3">Como deseja receber seu código?</p>

            <button class="btn-whatsapp" type="submit">WhatsApp</button>
        </div>
    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function mascaraTelefone(input) {
          // Remove tudo que não é número
          let valor = input.value.replace(/\D/g, '');
      
          // Aplica a máscara (99) 99999-9999
          if (valor.length > 2) {
            valor = `(${valor.substring(0, 2)}) ${valor.substring(2, 7)}-${valor.substring(7, 11)}`;
          }
      
          // Atualiza o valor do campo
          input.value = valor;
        }
      </script>
</body>
</html>
