@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(../imgs/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-size: 45%;
    
}



header img{
    width: 100px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
}
.flex {
    display: flex;
    justify-content: space-around;
}
.coluna {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.box1 {
    width: 500px;
    height:400px;
    margin: 0 80px 0 0;
    border-radius: 15px;
    padding: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.45);
}
.box1 .content h2{
    font-size: 30px;
    margin: 0 0 0 0;
}

.box1 .content p{
    font-size: 20px;
    font-weight: 500;
    color: var(--color-terciary);
    margin: 16px 0 16px 0;
}

.box2 {
    width: 500px;
    height:400px;
    margin-right:200px;
    border-radius: 15px;
    padding: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box2 img{
    width: 500px;
}

.box1 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box2 div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.form-btn1 {
    width: 400px;
    padding: 3px 15px;
    margin-bottom: 15px;
    font-family: var(--poppins);
    border-radius: 10px;
    border:solid 0.5px var(--border-gray) !important;
    outline: 0 !important;
    background: var(--color-basic);
    color: var(--color-secondary);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn2 {
    width: 400px;
    padding: 3px 15px;
    margin-bottom: 15px;
    font-family: var(--poppins);
    border-radius: 10px;
    border: 0 !important;
    outline: 0 !important;
    background: #4065B4;
    color: var(--color-basic);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn3 {
    width: 150px;
    padding: 3px 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: var(--poppins);
    border-radius: 10px;
    border:solid 0.5px var(--border-gray) !important;
    outline: 0 !important;
    background: var(--color-basic);
    color: var(--color-terciary);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}