:root{
    /* font */
    --poppins: font-family: "Poppins", serif;
    /* colors */
    --color-basic:#FFF;
    --color-primary:#EC8A4D;
    --color-secondary:#414143;
    --color-terciary:#717171;

    --border-gray:#DADCE0;
}