<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NhamNham</title>

    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/logo2.png">

</head>

<body>
    <header>
        <a href="/"><img src="../static/logo2.png" alt="Logo"></a>
    </header>
    <section class="container coluna">
        <div>
            <div class="flex">
                <div class="box3">
                    <div class="tools" style="position: relative;
                    left: -250px;
                    margin-bottom: -30px !important;">
                        <div class="circle">
                          <span class="red box"></span>
                        </div>
                        <div class="circle">
                          <span class="yellow box"></span>
                        </div>
                        <div class="circle">
                          <span class="green box"></span>
                        </div>
                      </div>
                    <div class="content2">
                        <h2>Para sua segurança digite novamente o seu<br>e-mail:</h2>
                        <p>example@gmail.com</p>
                    </div>

                    <form class="email1" method="POST" action="/cadastrar">
                        <div>
                            <label for="#">Digite seu E-mail</label>
                            <input type="email" name="email" id="#" placeholder="example@gmail.com" required>
                        </div>
                        <button class="form-btn4" type="submit">
                            <span>Continuar</span>
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
</body>

</html>