<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NhamNham</title>

    <link rel="stylesheet" href="../static/login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./src/imgs/logo2.png">
</head>

<body>
    <header class="flex3">
        <a href="/"><img src="../static/logo2.png" alt="Logo"></a>

        <div class="users">
            <a href="/delete"><span class="fa-solid fa-users"></span></a>
        </div>

    </header>
    <section class="container coluna">
        <div>
            <div class="flex">
                <!-- box 1 -->
                <div class="box2">
                    <img src="../static/login.png" alt="Pessoas Felizes">
                </div>
                <!-- box 2 -->
                <div class="box1">
                    <div class="content1">
                        <h2>Falta pouco para <br> matar sua fome</h2>
                        <p>Como dejesa continuar?</p>
                    </div>
                    <form class="Login-cadastro">
                        <button class="form-btn2">
                            <span class="flex2">
                                <a href="{{ url_for('login_facebook') }}">
                                    <span class="icon fa-brands fa-facebook"></span>Continuar com Facebook
                                </a>
                            </span>
                        </button>
                        <br>
                        <button class="form-btn1">
                            <span class="flex2">
                                <a href="{{ url_for('login_google') }}">
                                    <span class="icon fa-brands fa-google"></span>Continuar com Google
                                </a>
                            </span>
                        </button>

                        <div>
                            <div class="flex3">
                                <a href="/cadastronumero" class="form-btn3">
                                    <span>
                                        <p>Celular</p>
                                    </span>
                                </a>

                                <a href="/cadastraremail" class="form-btn3">
                                    <span>
                                        <p>E-mail</p>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>