@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif !important;
    font-weight: 300;
    font-style: normal;
    background-image: url("../static/Ellipse\ 1.png");
    background-repeat: no-repeat;
    background-size: 45%;
    padding: 12% 35px 35px 8%;
}

.containerEndereco {
    border-radius: 8px;
    padding: 10px 40px 10px 40px;
}

.containerEndereco h5 {
    font-weight: 500;
}

.containerEndereco form div label {
    font-family: "Poppins", serif !important;
    font-weight: 500 !important;
    font-size: 18px;
    margin-left: 3px;
}

.containerEndereco form div input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-left: -3px;
    padding: 6px;
    color: var(--color-terciary) !important;
    font-weight: 400 !important;
    font-size: 16px;
    border: solid 1px var(--color-terciary) !important;

}

.info-input {
    margin: 30px 0 16px 0;
}

.info-input label input {
    width: 486px !important;
    margin-bottom: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0fr;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 50px)); */
    /* padding-right: 20px; */
    padding: 0;

}

.flex-1 {
    display: flex;
    justify-content: space-between;
}

.flex-2 {
    display: flex;
    justify-content: center;
}

.submit {
    width: 100px;
    background-color: var(--color-primary) !important;
    color: var(--color-basic) !important;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.submit:hover {
    background-color: var(--color-primary) !important;
    color: var(--color-basic) !important;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.64);
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
.submit:active {
    transform: scale(0.95); /* Botão diminui um pouco ao clicar */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0);
    transition: transform 0.06s ease-in, box-shadow 0.1s ease-in;
}

/* .container {
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    gap: 0px;
    align-items: center;
    max-width: 600px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */





#number,
#uf {
    width: 80px;
    grid-column: span 2;
}

.uf-nuber {
    margin-top: 16px;
}

/* #uf {
    margin-right: 100px;
    } */


#rua {
    width: 250px;
    grid-column: span 3 !important;
}

/* .pop_content {
    background-coor: rgba(255, 255, 255, 0.548)!important;
    backdrop-filter: blur(30px)!important;
} */

footer {
    display: none;
}

header {
    z-index: 30 !important;
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    display: none;
}