@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif !important;
    font-weight: 300;
    font-style: normal;
    background-image: url("../static/Ellipse\ 1.png");
    background-repeat: no-repeat;
    background-size: 45%;

}
header img{
    width: 100px;
}

.container {
    text-align: center;
    padding: 0%;
    width: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.card {
    width: 250px;  /* Defina um tamanho fixo */
    height: 200px; /* Defina um tamanho fixo */
    overflow: auto; /* Adiciona scroll apenas quando necessário */
    border: 1px solid #ccc;
}


button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 16px !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
    margin-top: 15px !important;
}

button,
button span {
    transition: 200ms;
}

button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg {
    width: 15px;
    fill: #eee;
}

button:hover {
    background: #ff3636;
}

button:hover .text {
    color: transparent;
}

button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button:focus {
    outline: none;
}

button:active .icon svg {
    transform: scale(0.8);
}

:root {
    --color-primary: #EC8A4D;
}